/* This files contains all the neccessary classes for manging the common structure*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
/*
3. Displays
4. Positions
5. Foreground Colors
6. Background-colors
7. Opacity
8. Overflow
9. Buttons
10. Font-families
11. Flex Columns
12. Typography
13. Border Radius & Border
14. Font Weight
15. Badges
16. Forms
17. Drop-Downs
18. Accordians
19. Toggle Button
20. gap
21. Toggle icon
*/

:root {
  --primary: #3d7af5;
  --secondary: #ebf5fc;
  --white: #fff;
  --black: #111;
  --dark-blue: #2980b9;
  --grey1: #ecf0f1;
  --grey2: #bdc3c7;
  --grey3: #95a5a6;
  --grey4: #7f8c8d;
  --grey5: #4b5259;
  --grey6: #272c31;
  --orange: #ff6b00;
  --green: #13ce3c;
  --card-bg: #f3f3f3;
  --main-bg: #fcfcfc;
  --red: #eb5847;
  --yellow: #deb00e;
  /* blockhole specific*/
  --light-grey: #736b76;
  --light-pink: #f6dbff;
  --pink: #bf00ff;
  --light-grey1: #f7f4f8;

  /* card colors */
  --c-yellow: #fff7cf;
  --c-pink: #ffe2ea;
  --c-green: #cef7ef;

  --font-family: "Kumbh Sans", sans-serif;

  /* // temp */
  --step--2: clamp(0.69rem, calc(0.58rem + 0.6vw), 1rem);
  --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
  --step-0: clamp(1rem, calc(0.78rem + 1.1vw), 1.56rem);
  --step-1: clamp(1.2rem, calc(0.91rem + 1.47vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.39rem + 3.4vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.6rem + 4.45vw), 4.77rem);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

/* Display Starts */

.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-inherit {
  display: inherit;
}
.d-none {
  display: none;
}

.d-flex-wrap {
  flex-wrap: wrap;
}
.d-flex-row {
  flex-direction: row;
}
.d-flex-column {
  flex-direction: column;
}
.d-flex-row-reverse {
  flex-direction: row-reverse;
}
.d-flex-column-reverse {
  flex-direction: column-reverse;
}
.d-align-center {
  align-items: center;
}
.d-align-start {
  align-items: flex-start;
}
.d-align-end {
  align-items: flex-end;
}
.d-align-baseline {
  align-items: baseline;
}
.d-align-content-center {
  align-content: center;
}
.d-align-content-start {
  align-content: flex-start;
}
.d-align-content-end {
  align-content: flex-end;
}
.d-justify-center {
  justify-content: center;
}
.d-justify-start {
  justify-content: flex-start;
}
.d-justify-end {
  justify-content: flex-end;
}
.d-justify-space-between {
  justify-content: space-between;
}
.d-justify-space-around {
  justify-content: space-around;
}
.d-flex-100 {
  flex: 1 1;
}
/* Display Ends */

/* Positions Starts */

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
}
.p-static {
  position: static;
}
.p-inherit {
  position: inherit;
}
.p-initial {
  position: initial;
}
.p-unset {
  position: unset;
}
/* Positions Ends */

/* Foreground Colors starts*/
.text-orange {
  color: var(--orange);
}
.text-primary {
  color: var(--pink);
}
.text-secondary {
  color: rgb(128, 128, 128);
}
.text-grey {
  color: var(--dark-grey);
}
.text-white {
  color: #fff;
}
.text-black {
  color: var(--black);
}
.text-grey-4 {
  color: var(--grey4);
}
.text-grey-5 {
  color: var(--grey5);
}
.text-grey-6 {
  color: var(--grey6);
}
.text-green {
  color: var(--green);
}
.text-red {
  color: var(--red);
}
.text-yellow {
  color: var(--yellow);
}
/* Foreground Colors ends */

/*  Background Colors  starts*/
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--light-pink);
}
.bg-main {
  background-color: var(--main-bg);
}
.bg-white {
  background-color: var(--white);
}
.bg-grey-1 {
  background-color: var(--grey1);
}
.bg-card-yellow {
  background-color: var(--c-yellow);
}
.bg-card-pink {
  background-color: var(--c-pink);
}
.bg-card-green {
  background-color: var(--c-green);
}
/* End Background Colors */

/* Opacity Starts */
.op-1 {
  opacity: 1;
}
.op-01 {
  opacity: 0.1;
}
.op-03 {
  opacity: 0.3;
}
.op-04 {
  opacity: 0.4;
}
.op-05 {
  opacity: 0.5;
}
.op-06 {
  opacity: 0.6;
}
.op-07 {
  opacity: 0.7;
}
.op-08 {
  opacity: 0.8;
}
.op-09 {
  opacity: 0.9;
}

/* Opacity Ends */

/* Overflow Starts */
.o-hidden {
  overflow: hidden;
}
.ox-hidden {
  overflow-x: hidden;
}
.oy-hidden {
  overflow-y: hidden;
}

.o-scroll {
  overflow: scroll;
}
.ox-scroll {
  overflow-x: scroll;
}
.oy-scroll {
  overflow-y: scroll;
}

.o-visible {
  overflow: visible;
}
.ox-scroll {
  overflow-x: visible;
}
.oy-scroll {
  overflow-y: visible;
}
/* Overflow Ends */

/* Buttons Starts */

.btn {
  padding: 1.1rem 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
}
.btn-primary {
  background: var(--primary);
  color: var(--white);
}
.btn-secondary {
  background: var(--light-grey1);
  color: var(--light-grey);
}
.btn-outline-primary {
  background: var(--white);
  color: var(--primary);
  border: 2px solid var(--pink);
}
.btn-outline-secondary {
  background: var(--white);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btn-primary:hover,
.btn-primary:active {
  opacity: 0.85;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background: var(--primary);
  color: var(--white);
  border: 2px solid var(--pink);
}
.btn-secondary:hover,
.btn-secondary:active {
  opacity: 0.85;
  background-color: rgb(226, 226, 226);
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  background: var(--secondary);
  color: var(--white);
  border: 2px solid var(--secondary);
}
.btn-default-width {
  min-width: 164px;
}
.btn-default-widthh {
  min-width: 155px;
}
@media screen and (max-width: 768px) {
  .btn-default-widthh {
    padding: 0.8rem 0;
  }
}
.btn-full-width {
  width: 100%;
}

.btn-rounded {
  border-radius: 100px;
}
/* Button Ends */

/* Font-families Starts */
.primary-font {
  font-family: var(--font-family);
}
.secondary-font {
  font-family: var(--font-family);
}

/* Font-families Ends */
/* Classes Related to Typography Starts */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
span {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
}
ul,
ol {
  padding: 0 0 0 1.6rem;
  margin: 0 0 1.6rem 0;
}
.list-style-none {
  list-style: none;
}
div {
  font-size: 1.6rem;
}
.cursor-pointer {
  cursor: pointer;
}
.user-select-none {
  user-select: none;
}
/* Classes Related to Typography Ends */

/* Border Radius Starts */
.rounded {
  border-radius: 12px;
}
.rounded-5 {
  border-radius: 5px;
}
.rounded-20 {
  border-radius: 20px;
}
.rounded-50 {
  border-radius: 50%;
}
.border {
  border: 1px solid #e6e6e6;
}
.border-primary {
  border: 1px solid var(--primary);
}
.border-danger {
  border: 1px solid var(--danger);
}
.border-success {
  border: 1px solid var(--success);
}

.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.border-right {
  border-right: 1px solid #e6e6e6;
}
.border-top {
  border-top: 1px solid #e6e6e6;
}
.border-left {
  border-left: 1px solid #e6e6e6;
}
.border-none {
  border: none;
}

/* Border Radius Ends */

/*gap start*/
.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1.5rem;
}
.gap-4 {
  gap: 2rem;
}
.gap-5 {
  gap: 2.5rem;
}
/*gap end*/

/*project specific styles */

.main-class {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: clamp(1.25rem, 0.3893rem + 1.9672vw, 2.75rem)
    clamp(1.125rem, 0.3361rem + 1.8033vw, 2.5rem)
    clamp(0.625rem, -0.0205rem + 1.4754vw, 1.75rem)
    clamp(1.25rem, 0.3893rem + 1.9672vw, 2.75rem);
}
.word-break {
  word-break: break-word;
}
.pending {
  background: rgba(113, 87, 244, 0.1);
  color: #7157f4;
}
.spam {
  background: rgba(255, 66, 47, 0.1);
  color: #ff422f;
}
.verified {
  background: rgba(28, 196, 75, 0.1);
  color: #1cc44b;
}
.unverified {
  background: rgba(255, 107, 0, 0.1);
  color: #ff6b00;
}

/* grid columns */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  /* column-gap:50px; */
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
  /* column-gap:50px; */
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.border-bold-primary {
  border: 4px solid #3d7af5;
}
.circular-button {
  /* background-color:var(--light-grey1); */
  background-color: rgb(234, 234, 234);
  /* padding: 14px 7px 14px 7px; */
  border-radius: 50%;
}
.circular-button:hover {
  background-color: rgb(226, 226, 226);
}
.input-field {
  font-weight: 500;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  margin: 0;
  line-height: clamp(1.25rem, 1.225rem + 0.125vw, 1.375rem);
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(179, 179, 179);
}
.input-field:focus {
  outline: none;
}
/* Responsive table */
.table {
  /* width: 100%; */
  width: 80vw;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #92c9e6;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #d1e8f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .main-child {
    margin: 0;
    padding: 0;
    width: 80%;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* height: 60vh; */
}
@media screen and (max-width: 768px) {
  .disable-mobile {
    display: none;
  }
}
